In [4]:
import pandas as pd
import numpy as np

In [7]:
#offset = (102, 306)
offset = (228, 585)

In [8]:
df = pd.read_csv("./sgRNA/A04091E1.gem", comment="#", sep="\t")
df['x'] = df['x'] + offset[0]
df['y'] = df['y'] + offset[1]
df['geneID'] = df['geneID'].str.rstrip('_gene')
df

         geneID      x      y  MIDCount  ExonCount
0       sgJun_2  12606  12084         1          1
1       sgJun_2  14003  11764         1          1
2       sgJun_2  13390  10000         1          1
3       sgJun_2   6948   6157         2          2
4       sgJun_2   7689   6645         1          1
...         ...    ...    ...       ...        ...
14570  sgKlf2_2  12201  12765         1          1
14571  sgKlf2_2  15338  12406         2          2
14572  sgKlf2_2  13890  12336         1          1
14573  sgKlf2_2  13865  14117         3          3
14574  sgKlf2_2   4426  10032         1          1

[14575 rows x 5 columns]

In [9]:
df.to_csv("./sgRNA/A04091E1.offset.gem", header=True, index=False, sep='\t')