In [3]:
import re
import pandas as pd
from tqdm import tqdm

In [33]:
filename = './gRNA/B926/D03658A6-merged.gem'
chip_df = pd.read_csv(filename, sep='\t',comment = '#')

pattern_x = r"OffsetX=(\d+)"
pattern_y = r"OffsetY=(\d+)"

with open(filename, 'r') as file:
    lines = file.readlines()
    for line in lines:
        match_x = re.search(pattern_x, line)
        match_y = re.search(pattern_y, line)
        if match_x:
            offset_x = int(match_x.group(1))  # 获取匹配到的数值部分
        if match_y:
            offset_y = int(match_y.group(1))
            break

In [34]:
rna_filename = './RNA/D03658A6.tissue.gem'
with open(rna_filename, 'r') as file:
    lines = file.readlines()
    for line in lines:
        match_x = re.search(pattern_x, line)
        match_y = re.search(pattern_y, line)
        if match_x:
            rna_offset_x = int(match_x.group(1))  # 获取匹配到的数值部分
        if match_y:
            rna_offset_y = int(match_y.group(1))
            break

In [35]:
chip_df.loc[:,'x'] = chip_df.loc[:, 'x'] + offset_x - rna_offset_x
chip_df.loc[:,'y'] = chip_df.loc[:, 'y'] + offset_y - rna_offset_y

In [36]:
chip_df

                geneID      x      y  MIDCount  ExonCount
0        sgAqp3_2_gene   6193  11403         1          1
1        sgAqp3_2_gene  14478   5908         1          1
2        sgAqp3_2_gene   4378  10122         1          1
3        sgAqp3_2_gene  16471  17462         1          1
4        sgAqp3_2_gene   5842  15963         1          1
...                ...    ...    ...       ...        ...
145601  sgIkbip_2_gene  16025   3865         1          1
145602  sgIkbip_2_gene   2174   5369         2          2
145603  sgIkbip_2_gene  11404   9824         1          1
145604  sgIkbip_2_gene  13646   1805         1          1
145605  sgIkbip_2_gene  16357   7575         3          3

[145606 rows x 5 columns]

In [37]:
chip_df.to_csv('./gRNA/D03658A6.corrected.gem', sep='\t')